In [59]:
import pandas as pd             # data package
import matplotlib.pyplot as plt # graphics 
import datetime as dt
import numpy as np
from census import Census # This is new...

import requests, io             # internet and input tools  
import zipfile as zf            # zip file tools 
import os  

#import weightedcalcs as wc
#import numpy as np

import pyarrow as pa
import pyarrow.parquet as pq

In [60]:
exemptions_41225 = [
    str(code).replace('.', '') for code in [
        "8471",
        "8473.30",
        "8486",
        "8517.13.00",
        "8517.62.00",
        "8523.51.00",
        "8524",
        "8528.52.00",
        "8541.10.00",
        "8541.21.00",
        "8541.29.00",
        "8541.30.00",
        "8541.49.10",
        "8541.49.70",
        "8541.49.80",
        "8541.49.95",
        "8541.51.00",
        "8541.59.00",
        "8541.90.00",
        "8542"
    ]
]

exemptions_41225_df = pd.DataFrame({'HS_Code': exemptions_41225})

In [61]:
def get_hs_codes(code):

    my_key = "&key=34e40301bda77077e24c859c6c6c0b721ad73fc7"

    hs = 'HS10'

    my_key = "&key=34e40301bda77077e24c859c6c6c0b721ad73fc7"

    end_use = "hs?get=CTY_NAME,CON_VAL_YR,I_COMMODITY_SDESC"

    surl = "https://api.census.gov/data/timeseries/intltrade/imports/" + end_use 

    surl  = surl + my_key + "&time=" + "2024-12" + "&COMM_LVL=" + "HS10" + "&I_COMMODITY=" + code + "*"

    url = surl + "&CTY_CODE=" + '-'

    r = requests.get(url) 
    
    print(r)
    
    df = pd.DataFrame(r.json()[1:]) # This then converts it to a dataframe
    # Note that the first entry is the labels

    df.columns = r.json()[0]

    return df["I_COMMODITY"]

In [67]:
df = pd.DataFrame()

for index, row in exemptions_41225_df.iterrows():

    foo = get_hs_codes(row['HS_Code'])

    foo_df = pd.DataFrame(foo)  # Ensure it's a DataFrame
    
    df = pd.concat([df, foo_df], ignore_index=True)

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [ ]:
df.rename(columns = {'I_COMMODITY':"HTSUS"})

df.to_csv("./data/41225_exmptions.csv", index=False)

In [68]:
df

    I_COMMODITY
0    8471300100
1    8471410110
2    8471410150
3    8471490000
4    8471500110
..          ...
104  8542390030
105  8542390040
106  8542390050
107  8542390060
108  8542900000

[109 rows x 1 columns]